$consumerWidth: 500px;
$consumerHeight: 500px;

$consumerBorderColor: #757575;
$consumerBackgroundColor: #ffffff;
$consumerBorderWidth: 3px;

$providerWidth: 330px;
$providerHeight: 150px;
$providerTextColor: #000080;
$providerBorderColor: #6aa84f;
$providerBackgroundColor: #d9ead3;
$providerBorderWidth: 3px;
$boxWidth: 120px;
$boxHeight: 60px;
$boxTextColor: #000000;
$boxBorderWidth: 3px;

$zoneBorderColor: #3d85c6;
$zoneBackgroundColor: #cfe2f3;

$encapsulationBorderColor: #a64d79;
$encapsulationBackgroundColor: #ead1dc;

$utilBorderColor: #e69138;
$utilBackgroundColor: #fce5cd;

$libsBorderColor: #f1c232;
$scriptsBackgroundColor: #fff2cc;
